.repertoire-songs {
  h1 {
    margin-bottom: 2rem;
  }

  .repertoire-lists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .btn {
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  .repertoire-songs {
    .repertoire-lists-container {
      flex-direction: row;
    }
  }
}
