<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sophie's Contact" />
    <meta property="og:description" content="Contact with me" />
    <!--  <meta
      property="og:url"
      content="https://pricing-page-web-sharing.on.drv.tw/Free%20Hosting/pricing-page/"
    /> -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../images/profile.jpeg" />

    <link rel="stylesheet" href="../style/style.css" />

    <title>Contact</title>
  </head>
  <body>
    <div class="body-container contact-page">
      <h1 class="important-text styled-text">Contact with me</h1>

      <div class="cards-container">
        <a href="https://api.whatsapp.com/send?phone=+13464650052&text=Hi!">
          <div class="contact-card">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1384/1384178.png"
              alt=""
              class="icon"
            />
            <d class="title">WhatApp</d>
          </div>
        </a>

        <a href="mailto:sophiemystiquee@gmail.com">
          <div class="contact-card">
            <img
              src="https://cdn-icons-png.flaticon.com/512/11648/11648165.png"
              alt=""
              class="icon"
            />
            <d class="title">Mail</d>
          </div>
        </a>

        <a href="https://www.instagram.com/sophiemystique">
          <div class="contact-card">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1384/1384172.png"
              alt=""
              class="icon"
            />
            <d class="title">Instagram</d>
          </div>
        </a>

        <a href="https://www.youtube.com/@sophiemystique">
          <div class="contact-card">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1384/1384169.png"
              alt=""
              class="icon"
            />
            <d class="title">YouTube</d>
          </div>
        </a>

        <a href="../index.html"><button class="btn">Go Back</button></a>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
