<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sophie's Repertoire" />
    <meta property="og:description" content="My full repertoire" />
    <meta property="og:url" content="cesarsullen" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../images/profile.jpeg" />

    <link rel="stylesheet" href="../style/style.css" />

    <title>Sophie's Repertoire</title>
  </head>
  <body>
    <div class="body-container repertoire-songs">
      <h1 class="important-text styled-text-1">My Repertoire</h1>

      <div class="repertoire-lists-container">
        <ul id="pop-music-list">
          <h4 class="important-text styled-text-1">POP MUSIC</h4>
        </ul>

        <ul id="r&b-music-list">
          <h4 class="important-text styled-text-1">R&B MUSIC</h4>
        </ul>
      </div>

      <a href="../index.html"><button class="btn">Go Back</button></a>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
