<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sophie's Sample" />
    <meta property="og:description" content="A sample of my repertoire" />
    <!--  <meta
      property="og:url"
      content="https://pricing-page-web-sharing.on.drv.tw/Free%20Hosting/pricing-page/"
    /> -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../images/profile.jpeg" />

    <link rel="stylesheet" href="../style/style.css" />

    <title>Sophie's Sample</title>
  </head>
  <body>
    <div class="body-container sample-songs">
      <h1 class="important-text styled-text">Sample Songs</h1>
      <h4 class="important-text styled-text">POP MUSIC</h2>

      <ul id="data-list"></ul>

      <p>
        This is only an overview of my Full Repertoire. If you need to review The Full List (which includes classics, jazz, and latin music), please send me an email and I'll be happy to send it to you!
      </p>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
